<header class="header">
  <a href="#" class="logo"><img src="assets/icon/logov2.png" alt="" height="100px" /></a>
  <nav class="navbar">
    <a href="#home" class="active" style="--i:10;">TRANG CHỦ</a>
    <a href="#about" style="--i:11;">VỀ TÔI</a>
    <a href="#services" style="--i:12;">NGÔN NGỮ</a>
    <a href="#product" style="--i:13;">SẢN PHẨM</a>
  </nav>
  <div class="bx bx-moon" id="darkMode-icon" (click)=" toggleDarkMode()"></div>

  <div class="bx bx-menu" id="menu-icon"></div>
</header>


<!-- home -->
<section class="home" id="home">
  <div class="home-content">
    <h3>Xin chào, Tôi là</h3>
    <h1>Nguyễn Quốc Việt</h1>
    <p>Tôi xin chân thành cảm ơn nhà tuyển dụng đã vào hồ sơ cá nhân của tôi!!!! </p>

    <div class="social-media">
      <a href="https://www.facebook.com/sky.quocsviets/" style="--i:7;"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/viet_n_q/" style="--i:8;"><i class="bx bxl-instagram"></i></a>
      <a href="https://twitter.com/home" style="--i:9;"><i class="bx bxl-twitter"></i></a>
    </div>

    <a href="/assets/NguyenQuocViet_CV.pdf" download class="btn">Download CV</a>
  </div>

  <div class="profession-container">
    <div class="profression-box">

      <div class="profression" style="--i:0;">
        <i class="bx bxl-java"></i>
        <h3>Java Devolopment</h3>
      </div>

      <div class="profression" style="--i:1;">
        <i class="bx bxl-angular"></i>
        <h3>Angular Devolopment</h3>
      </div>

      <div class="profression" style="--i:2;">
        <i class="bx bxl-html5"></i>
        <h3>HTML/CSS Devolopment</h3>
      </div>

      <div class="profression" style="--i:3;">
        <i class="bx bxl-react"></i>
        <h3>React Devolopment</h3>
      </div>

      <div class="circle"></div>
    </div>
    <div class="overlay"></div>
  </div>
  <div class="home-img">
    <img src="assets/icon/canhan.png" alt="" />
  </div>

</section>

<!-- about section -->

<section class="about" id="about">
  <div class="about-img">
    <img src="assets/icon/canhan.png" alt="" />
  </div>

  <div class="about-content">
    <h2 class="heading">Về <span>Tôi</span></h2>
    <h3>HỌC VẤN</h3>
    <p>Học tại trường Đại Học Công Nghiệp Hà Nội (2019-2024) Chuyên ngành Khoa Học Máy Tính.</p>
    <h3>Chứng chỉ</h3>
    <p>Khóa học Hộ chiếu Lập trình viên Doanh nghiệp (Java Web Full Stack) tại VTI ACADEMY (2022).</p>
    <h3>Kinh nghiệm làm việc</h3>
    <p>Thực tập tại công ty Evotek (4/2022-7/2022)</p>
    <p>Làm việc tại công ty Evotek (7/2022 - 10/9/2023)</p>
    <h3>Mục tiêu</h3>
    <p>Mục tiêu ngắn hạn: Mong muốn được học hỏi, đa dạng hóa các kỹ năng lập trình viên. Làm việc
      trong môi trường chuyên nghiệp để phát huy khả năng, hiệu suất làm việc của bản thân, mang lại lợi
      ích cho doanh nghiệp và trở thành một lập trình viên web developer và tiếp tục học thêm kiến thức để có
      được một vị trí Chính thức trong 1-2 tháng tiếp theo rồi hướng đến các level cao hơn và hướng tới
      một techlead, project manager.
      </p>
  </div>
</section>


<!-- service section  -->
<section class="services" id="services">
  <h2 class="heading"><span> Ngôn ngữ lập trình </span></h2>
  <div class="services-container">
    <div class="services-box">
      <i class='bx bxl-java'></i>
      <h3>Java Development</h3>
      <p>Về ngôn ngữ java tôi đã làm về ngôn ngữ này hơn một năm với 4 dự án, tôi sử dụng các thư viện của java như:
        Java Spring JPA, Java Core, Spring Boot, java 8, java 11</p>
      <a href="#" class="btn">Xem thêm...</a>
    </div>
    <div class="services-box">
      <i class='bx bxl-angular'></i>
      <h3>Angular Development</h3>
      <p>Về ngôn ngữ Angular tôi đã làm về ngôn ngữ này hơn một năm với 4 dự án, tôi sử dụng các thư viện của java như:
        AngularJS, Angular Material, Angular Core, TypeScript</p>
      <a href="#" class="btn">Xem thêm...</a>
    </div>

    <div class="services-box">
      <i class='bx bxl-react'></i>
      <h3>React Development</h3>
      <p>Về ngôn ngữ React tôi đã làm về ngôn ngữ này trong ba tháng với 1 dự án, tôi sử dụng các thư viện của java như:
        React hook, React JS, TypeScript</p>
      <a href="#" class="btn">Xem thêm...</a>
    </div>
  </div>
</section>

<!-- product section  -->
<section class="product" id="product">
  <h2 class="heading"><span>Dự án</span> đã tham gia</h2>

  <div class="product-container">
    <div class="product-box">
      <img src="assets/icon/vdss.png" alt="" />
      <div class="product-layer">
        <h4> Website VDSS </h4>
        <p>Đây là website của công ty VDSS</p>
        <a href="http://vdss.com.vn/#/home"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="product-box">
      <img src="assets/icon/vdss.png" alt="" />
      <div class="product-layer">
        <h4> Website VDSS </h4>
        <p>Đây là website của công ty VDSS</p>
        <a href="http://vdss.com.vn/#/home"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="product-box">
      <img src="assets/icon/vdss.png" alt="" />
      <div class="product-layer">
        <h4> Website VDSS </h4>
        <p>Đây là website của công ty VDSS</p>
        <a href="http://vdss.com.vn/#/home"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="product-box">
      <img src="assets/icon/vdss.png" alt="" />
      <div class="product-layer">
        <h4> Website VDSS </h4>
        <p>Đây là website của công ty VDSS</p>
        <a href="http://vdss.com.vn/#/home"><i class="bx bx-link-external"></i></a>
      </div>
    </div>
  </div>
</section>

<!-- footer  -->
<footer class="footer">
  <div class="footer-text">
    <p>Copyright &copy; 2023 bởi Nguyễn Quốc Việt </p>
  </div>
  <div class="footer-icon">
    <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
  </div>
</footer>